@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

/* Общие свойства */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;

  border: 0;

  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.list-reset {
  list-style: none;

  margin: 0;
  padding: 0;
}

/* Общие свойства для элементов */

html {
  background-color: #f2f2f2;

  box-sizing: border-box;
}

body {
  /* Устанавливаются в зависимости от преобладания на странице */
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border-radius: 4px;
}

.button-modal {
  font-size: 20px;
  line-height: 36px;
}

.button-light {
  background-color: #82b3d3;
}

.subscribe-button {
  border-radius: 0 4px 4px 0;
}

/* Header */

.nav-list {
  text-align: center;
}

.nav-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: inherit;
  text-transform: capitalize;
  text-decoration: none;
}

.user-list {
  text-align: center;
}

/* Main */
.hero {
  color: #000000;

  background-color: #ffffff;
  background-image: url("../images/index-background-hero-dried.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.page-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.page-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-item-full {
  background-color: #82b3d3;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.services-content-home {
  background-image: url("../images/svg/advantage-icon-home.svg");
  background-repeat: no-repeat;
}

.services-content-food {
  background-image: url("../images/svg/advantage-icon-food.svg");
  background-repeat: no-repeat;
}

.services-content-souvenirs {
  background-image: url("../images/svg/advantage-icon-souvenirs.svg");
  background-repeat: no-repeat;
}

.subscribe-home {
  color: #ffffff;

  background-color: #000000;
  background-image: url("../images/subscribe-dried.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.subscribe-title {
  color: #ffffff;
}

.subscribe-text {
  color: #ffffff;
}

.filter {
  color: #ffffff;

  background-color: #000000;
  background-image: url(../images/catalog-dried.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.content-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-transform: capitalize;
  text-decoration: none;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.control-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.hotel-link {
  text-decoration: none;
}

.hotel-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotels-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotels-text-price {
  text-align: right;
}

.hotels-rating-star {
  background-image: url(../images/svg/stars.svg);
}

.hotel-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;

  background: #f2f2f2;
  border-radius: 4px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #82b3d3;
  border-radius: 4px;

  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
}

.pagination-link-current {
  color: #000000;

  background-color: #f2f2f2;
}

.pagination-link-more {
  color: #000000;

  background-color: none;
}
