@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

/* Общие свойства */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;

  border: 0;

  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.list-reset {
  list-style: none;

  margin: 0;
  padding: 0;
}

/* Общие свойства для элементов */

html {
  background-color: #f2f2f2;

  box-sizing: border-box;
  height: 100%;
}

body {
  /* Устанавливаются в зависимости от преобладания на странице */
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

img {
  max-width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  display: inline-block;
  margin: 0;
  padding: 8px;
}

.button-light {
  background-color: #82b3d3;
}

.button-transparent {
  background-color: transparent;
}

.form-input {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  background-color: #f2f2f2;
  border: 2px solid transparent;
  border-radius: 4px;

  width: 100%;
  height: 48px;
  padding: 14px;

  appearance: none;
}

.page-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  margin: 0;
}

.page-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;

  margin: 0;
}

/* Header */

.nav {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto;
}

.logo {
  width: 138px;
  margin-right: 30px;
}

.nav-list {
  max-width: 439px;
  margin-right: auto;
}

.user-list {
  max-width: 88px;
  margin-right: 20px;
}

.nav-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.user-link {
  text-decoration: none;

  background-repeat: no-repeat;

  display: inline-block;
  width: 44px;
  height: 44px;
}

.user-link-search {
  background-image: url("../images/svg/icon-search.svg");
}

.user-link-favorites {
  background-image: url("../images/svg/icon-heart.svg");
}

.user-favorites-num {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;

  background: #7db54f;
  border-radius: 10px;

  width: 20px;
  height: 20px;
}

/* Main */
.main-container {
  flex-grow: 1;
}

.hero {
  text-align: center;
  color: #ffffff;

  background-color: #5c84ab;
  background-image: url("../images/svg/hero-footer.svg"),
    url("../images/index-background-hero-dried.jpg");
  background-repeat: no-repeat;
  background-position: bottom, top;
  background-size: 100% auto, cover;

  padding: 60px 70px;
}

.hero-image {
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

.hero-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-container {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-full {
  width: 100%;
  color: #ffffff;

  background-color: #82b3d3;
}

.advantages-content {
  text-align: center;

  width: 400px;
  min-height: 385px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;

  margin: 0 0 38px;
}

.advantages-container .advantages-title {
  color: #ffffff;
}

.advantages-text {
  margin: 0;
}

.advantages-image {
  margin: 0;
}

.advantages-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.advantages-item:last-child .advantages-container {
  flex-direction: row-reverse;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item:nth-child(2n) {
  background-color: #ffffff;
}

.services-content {
  text-align: center;

  background-repeat: no-repeat;
  background-position: top 80px center;

  width: 400px;
  min-height: 385px;
  padding-top: 182px;
}

.services-content-home {
  background-image: url("../images/svg/advantage-icon-home.svg");
}

.services-content-food {
  background-image: url("../images/svg/advantage-icon-food.svg");
}

.services-content-souvenirs {
  background-image: url("../images/svg/advantage-icon-souvenirs.svg");
}

.search {
  text-align: center;

  padding: 50px 70px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;

  width: 376px;
}

.subscribe-home {
  padding: 50px 70px;
}

.subscribe-home {
  color: #ffffff;

  background-color: #5c84ab;
  background-image: url("../images/subscribe-dried.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-home .subscribe-title {
  color: #ffffff;
}

.form-input::placeholder {
  color: rgba(0, 0, 0, 0.6);

  opacity: 1;
}

.subscribe-input {
  max-width: 452px;
  height: 52px;
  border-radius: 4px 0 0 4px;

  height: 52px;
}

.subscribe-input::placeholder {
  font-weight: 400;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;

  border-radius: 0 4px 4px 0;

  width: 232px;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  max-width: 684px;
  margin: 54px auto 104px;

}

.filter {
  color: #ffffff;

  background-color: #5c84ab;
  background-image: url("../images/catalog-dried.png");
  background-repeat: no-repeat;
  background-size: cover;

  padding: 35px 70px;
}

.content-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;

  margin: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link-home {
  background-image: url("../images/svg/icon-home.svg");
  background-repeat: no-repeat;
  background-position: center;

  display: block;
  width: 13px;
  height: 15px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
}

.filter-group {
  border: none;

  margin: 0;
  padding: 0;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 70px 0;

}

.sorting-title {
  margin-right: auto;
  text-align: left;

}

.sorting-select {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-right: 70px;

  background-color: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 4px;

  width: 292px;
  height: 49px;
}

.sorting-view {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.view-link {
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;

  display: block;
  width: 48px;
  height: 48px;
}

.view-link-tile {
  background-image: url("../images/svg/icon-tile.svg");
}

.view-link-slideshow {
  background-image: url("../images/svg/icon-preview.svg");
}

.view-link-list {
  background-image: url("../images/svg/icon-list.svg");
}

.view-link-active {
  border-color: #000000;
}

.hotels {
  padding: 0 70px;
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
}

.hotels-item {
  width: 340px;
}

.hotels-link {
  color: #000000;
  text-decoration: none;
}

.hotels-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  margin: 0;
}

.hotels-item p {
  margin: 0;
}

.hotels-text + .hotels-text {
  text-align: right;
}

.hotels-favorites-active {
  background-color: #7db54f;
}

.hotels-rating-star {
  background-image: url("../images/svg/stars.svg");
  background-repeat: no-repeat;
  background-position: left center;

  display: block;
  height: 37px;
}

.hotels-rating-star-4 {
  width: 90px;
}

.hotels-rating-star-3 {
  width: 70px;
}

.hotels-rating-star-2 {
  width: 45px;
}

.hotel-rating {
  width: 150px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  background: #f2f2f2;
  border-radius: 4px;

  padding: 6px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;

  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;
  padding: 5px;
}

.pagination-link-current {
  color: #000000;

  background-color: #f2f2f2;
  border-color: transparent;

  pointer-events: none;
}

.pagination-link-more {
  font-size: 22px;
  line-height: 26px;
  color: #000000;

  background-color: transparent;
  border-color: transparent;
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 70px 30px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 142px;
}


.phone {
  margin: 0 auto;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.logo-dev {

}
